// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$yellow: #F7DC1B;
$white: #FFFFFF;
$light-blue: #54BAD8;
$blue: #0093C6;
$dark-blue: #192C47;

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300px;
}

.login-box{
  width: 32%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-box-body {
  background-color: #E3E3E3;
  border-color: #d3d3d3;
}



.box-center{
  text-align: center;
  width: 100%
}

.main-sidebar{
  position: absolute;
  width: 230px;
  height: 100%;
  background-color: $dark-blue;
  color: $white;
  span {
    color: $white;
  }
}

.content{
  margin-left: 230px;
}

.main-header{
  position: relative;
  height: 50px;
  z-index: 1030;
  background-color: $blue;
}

.sidebar-menu > li > a{
  border-left: 3px solid transparent;
}

.sidebar-menu > li.active > a{
  border-left-color: $yellow;
  background: black;
}

.sign-out-button{
  padding: 5px;
  a {
    color: $dark-blue;
  
    &:hover {
      color: $light-blue;
      background-color: transparent;
    }
  }
}

.logo-content{
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300px;
}

.logo-lg{
  display: block;
  color: $white;
  font-size: 20px;
  text-align: center;
  width: 230px;
  display: inline-block;
  height: 100%;
}

.navbar-top {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
}