// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$yellow: #F7DC1B;
$white: #FFFFFF;
$light-blue: #54BAD8;
$blue: #0093C6;
$dark-blue: #192C47;

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300px;
}

.login-box{
  max-width: 520px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-box-body {
  background-color: #E3E3E3;
  border-color: #d3d3d3;
}



.box-center{
  text-align: center;
  width: 100%
}

.main-sidebar{
  position: fixed;
  width: 230px;
  height: 100%;
  margin-top: 50px;
  background-color: $dark-blue;
  color: $white;
  span {
    color: $white;
  }
}

.content{
  margin-left: 230px;
  margin-top: 50px;
}

.main-header{
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1030;
  background-color: $blue;
}

.sidebar-menu > li > a{
  border-left: 3px solid transparent;
}

.sidebar-menu > li.active > a{
  border-left-color: $yellow;
  background: black;
}

.sign-out-button{
  padding: 5px;
  text-align: center;
  font-weight: bold;
  a {
    color: $blue;

    &:visited {
      color: $blue;
    }
  
    &:hover {
      color: $light-blue;
      background-color: transparent;
    }
  }
}

.logo-content{
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300px;
}

.logo-lg{
  color: $white;
  font-size: 20px;
  text-align: center;
  width: 230px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  position: absolute;
  line-height: 46px;
  background-color: #367fa9;
}

.navbar-top {
  display: inline-block;
  position: relative;
  padding-left: 230px;
  width: 100%
}

.select-cashier{
  margin: 10px auto auto auto;
  width: 75%;
}


.actions {
  text-align: center;
  .button-cashier{
    margin: auto;
  }
}

.header-content-nav{
  color: $white;
  line-height: 46px;
  margin-right: 10px;
}

.sign-out-button-header{
  margin-left: 15px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  a {
    color: $white;

    &:visited {
      color: $white;
    }
  
    &:hover {
      color: $light-blue;
      background-color: transparent;
    }
  }
}

.box-title {
  text-align: center;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 10px;
  width: 100%;
}