// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box{
  width: 32%;
  margin: auto;
  background-color: #E3E3E3;
  border-color: #d3d3d3;
}

.box-center{
  text-align: center;
  width: 100%
}

.main-sidebar{
  position: absolute;
  width: 230px;
}

.content{
  margin-left: 230px;
}